
<!-- Navigation -->
<div class="header">
  <a class="logo"> <img
    width="60" height="30"
    alt="Demo Logo"
    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ee060752-7590-4368-a936-6e7ae0428150/d6jm38a-e7af4757-901b-43e0-8bcf-62fca6bb330e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VlMDYwNzUyLTc1OTAtNDM2OC1hOTM2LTZlN2FlMDQyODE1MFwvZDZqbTM4YS1lN2FmNDc1Ny05MDFiLTQzZTAtOGJjZi02MmZjYTZiYjMzMGUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.73aAIXETo-tZ7HuTTL_wMhfstfULDpfEDorM1vOMAwA"
  /></a>
  <div class="header-right">
    <a >Home</a>
    <a >Add</a>
    <a routerLink="/view" routerLinkActive="active">View</a>
    <a routerLink="/sort" routerLinkActive="active">Sort</a>
    <a routerLink="/addition" routerLinkActive="active">Addition</a>
    <a routerLink="/table" routerLinkActive="active">Number Table</a>
    <a >Contact</a>
    <a >About</a>
  </div>
</div>
<router-outlet></router-outlet>


