
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <img
    width="60" height="30"
    alt="Demo Logo"
    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ee060752-7590-4368-a936-6e7ae0428150/d6jm38a-e7af4757-901b-43e0-8bcf-62fca6bb330e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VlMDYwNzUyLTc1OTAtNDM2OC1hOTM2LTZlN2FlMDQyODE1MFwvZDZqbTM4YS1lN2FmNDc1Ny05MDFiLTQzZTAtOGJjZi02MmZjYTZiYjMzMGUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.73aAIXETo-tZ7HuTTL_wMhfstfULDpfEDorM1vOMAwA"
  /></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view" routerLinkActive="active">View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/table" routerLinkActive="active">Number Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sort" routerLinkActive="active">Sort</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addition" routerLinkActive="active">Addition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- <div class="header">
  <a class="logo"> <img
    width="60" height="30"
    alt="Demo Logo"
    src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ee060752-7590-4368-a936-6e7ae0428150/d6jm38a-e7af4757-901b-43e0-8bcf-62fca6bb330e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VlMDYwNzUyLTc1OTAtNDM2OC1hOTM2LTZlN2FlMDQyODE1MFwvZDZqbTM4YS1lN2FmNDc1Ny05MDFiLTQzZTAtOGJjZi02MmZjYTZiYjMzMGUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.73aAIXETo-tZ7HuTTL_wMhfstfULDpfEDorM1vOMAwA"
  /></a>
  <div class="header-right">
    <a >Home</a>
    <a >Add</a>
    <a routerLink="/view" routerLinkActive="active">View</a>
    <a routerLink="/sort" routerLinkActive="active">Sort</a>
    <a routerLink="/addition" routerLinkActive="active">Addition</a>
    <a routerLink="/table" routerLinkActive="active">Number Table</a>
    <a >Contact</a>
    <a >About</a>
  </div>
</div> -->
<router-outlet></router-outlet>


