
<!-- <div class="card" style="padding-top: 60px;"> -->
  <div class="card" style="padding: 20px;">
      <h5 class="card-header">Employee Table</h5>
      <div class="card-body">
        <!-- Alert set -->
        <ngb-alert #staticAlert *ngIf="alertValue.showAlert" role="alert" [type]="alertValue.alertType" (closed)="alertValue.showAlert">{{alertValue.alertMessage}}</ngb-alert>
        <div class="card-add" align="right" style="padding-bottom: 20px;">
          <!-- <button class="btn btn-lg btn-outline-primary" data-target="#addModal">Add Employee</button> -->
          <button type="button" class="btn btn-lg btn-outline-primary" data-toggle="modal" data-target="#addModal" >
            Add Employee
          </button>
        </div>
        <!-- fas fa-user-alt -->
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="tcolor">
              <tr>
                  <th>S.No</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Status</th>
                  <th>Action</th>
              </tr>
            </thead>
            <tbody *ngIf="emplist?.length != 0">
              <tr style="display: none;">
                <td>0</td>
                <td>sohan</td>
                <td>xyz</td>
                <td>xyz@Gmail.com</td>
                <td>9999</td>
                <td>
                  <!-- <a routerLink="/add" routerLinkActive="active" class='fas fa-pen'></a> -->
                  <!-- <a  (click)="OnClick()" class='fas fa-pen'></a> -->
                  <!-- <button type="button" class="btn-del fas fa-trash" (click)="openDialog()"></button> -->
                  <button type="button" class="btn-del fas fa-trash" data-toggle="modal" data-target="#exampleModal" ></button>
                  <button type="button" class="btn-del fas fa-pen" style="padding-left: 10px;" (click)="delEmployee()"></button>
                </td>
              </tr>
                <tr *ngFor="let e of emplist ; index as i">
                    <td>{{e.id}}</td>
                    <td>
                      <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                       style="width: 45px; height: 45px" class="rounded-circle" />
                       {{e.name}}
                     </td>
                    <td> {{e.address}} </td>
                    <td> {{e.email}} </td>
                    <td> {{e.phone}} </td>
                    <td *ngIf="e.isActive" class="status">
                      <span class="active ::after">Active</span>
                    </td>
                    <td *ngIf="!e.isActive" else elseBlock class="status">
                      <span class="inactive ::after">In active</span>
                    </td>
                   
                    <!-- <td><a routerLink="/add" routerLinkActive="active" class='fas fa-pen'></a></td> -->
                    <!-- <button type="button" class="btn-del fas fa-trash" data-toggle="modal" data-target="'#'+test" (click)="delEmployee()"></button> -->
                    <td><button type="button" class="btn-primary fas fa-pen"  data-toggle="modal" data-target="#updateModal" (click)="getEmpData(i)" ></button>
                    <button type="button" class="btn-primary fas fa-trash" data-toggle="modal" [attr.data-target]="'#'+deleteModalId" (click)="delEmpRequest(i)"></button>
                    </td> 
                </tr>
            </tbody>  
            <tbody *ngIf="emplist?.length == 0">
              <tr>
                <td colspan="6" class="empty-table">No data available!</td>
              </tr>
            </tbody>  
          </table>
        </div>
      </div>
  </div>
<!-- </div> -->

<!-- Delete Modal 1 -->

<!-- <div class="modal fade" [id]="deleteModalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you want to delete {{delModalShowName}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="delEmployee()">Yes</button>
      </div>
    </div>
  </div>
</div> -->

<!-- Delete Modal 2 --> 

<div class="modal fade" [id]="deleteModalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>
      <!--Body-->
      <div class="modal-body">
        <i class="fas fa-times fa-4x animated rotateIn"></i>
        <p>{{delModalShowName}}</p>
      </div>
      <!--Footer-->
      <div class="modal-footer flex-center">
        <a type="button" data-dismiss="modal" class="btn  btn-outline-danger" (click)="delEmployee()">Yes</a>
        <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!--Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title " id="exampleModalLabel" >Add Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card ">
          <div class="card-body">
            <div class="container">
              <form #addForm="ngForm" >
                <!-- Name -->
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example3" class="form-control"
                  #name="ngModel" [class.is-invalid]="name.invalid && name.touched" 
                  name="name" [ngModel]="empModel.name" placeholder="Enter your name" required />
                  <label class="form-label" for="form3Example3">Name</label>
                  <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required!!</small>
                </div>
              
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" 
                  #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
                  name="email" [ngModel]="empModel.email" placeholder="Enter your email" required/>
                  <label class="form-label" for="form3Example3">Email address</label>
                  <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required!!</small>
                </div>
              
                <!-- Address input -->
                <div class="form-outline mb-4">
                  <input type="textarea" id="form3Example4" class="form-control"
                  #address="ngModel" [class.is-invalid]="address.invalid && address.touched"
                   name="address" [ngModel]="empModel.address" placeholder="Enter your address" required/>
                  <label class="form-label" for="form3Example4">Address</label>
                  <small class="text-danger" [class.d-none]="address.valid || address.untouched">Address is required!!</small>
                </div>
      
                <!-- Phone -->
                <div class="form-outline mb-4">
                  <input type="tel" id="form3Example3" class="form-control"
                  #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" 
                  name="phone" [ngModel]="empModel.phone" placeholder="Enter your mobile number" required />
                  <label class="form-label" for="form3Example3">Phone</label>
                  <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                    <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
                    <small class="text-danger" *ngIf="phone.errors.pattern">Phone Number must be 10 digits</small>
                  </div>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-success btn-block mb-4 border border-dark" data-dismiss="modal" data-target="basic-success-example" 
                (click)="onSubmit(addForm)">Submit
                </button>
              
                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
              
                  <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
              
                  <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
              
                  <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"  class="btn btn-primary" data-dismiss="modal" data-target="basic-success-example" (click)="onSubmit(addForm); clearField()">Submit</button>
      </div> -->
    </div>
  </div>
</div>

<!--Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title" id="exampleModalLabel">Update Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
          <div class="card ">
            <div class="card-body">
              <div class="container">
                <form #updateForm="ngForm">
                  <!-- image -->
                  <div class="row profile-img" align="center">
                    <img class="rounded-circle border border-dark" style="width: 95px; height: 95px" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" />
                  </div>
                  <!-- id & status -->
                  <div class="row">
                    <!-- id -->
                    <div class="form-group col" align="left">
                      <label>Id: {{empModel.id}}</label>
                      <input type="text" disabled hidden class="form-control" #name="ngModel" name="id" [(ngModel)]="empModel.id" />
                    </div>
                    <!-- status -->
                    <div class="form-group col" align="right">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1"  name="isActive" [(ngModel)]="empModel.isActive">
                        <label class="custom-control-label" for="customSwitch1">Employee Status</label>
                      </div>
                    </div>
                    <!-- <div class="form-group col-sm-9" align="left">
                      <input disabled type="text" name="id" [(ngModel)]="empModel.id"><br>
                    </div> -->
                  </div>
                  <!-- Name -->
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control"
                    #name="ngModel" [class.is-invalid]="name.invalid && name.touched" 
                    name="name" [ngModel]="empModel.name" placeholder="Enter your name" required />
                    <label class="form-label" for="form3Example3">Name</label>
                    <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required!!</small>
                  </div>
                
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="email" id="form3Example3" class="form-control" 
                    #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
                    name="email" [ngModel]="empModel.email" placeholder="Enter your email" required/>
                    <label class="form-label" for="form3Example3">Email address</label>
                    <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required!!</small>
                  </div>
                
                  <!-- Address input -->
                  <div class="form-outline mb-4">
                    <input type="textarea" id="form3Example4" class="form-control"
                    #address="ngModel" [class.is-invalid]="address.invalid && address.touched"
                     name="address" [ngModel]="empModel.address" placeholder="Enter your address" required/>
                    <label class="form-label" for="form3Example4">Address</label>
                    <small class="text-danger" [class.d-none]="address.valid || address.untouched">Address is required!!</small>
                  </div>
        
                  <!-- Phone -->
                  <div class="form-outline mb-4">
                    <input type="tel" id="form3Example3" class="form-control"
                    #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" 
                    name="phone" [ngModel]="empModel.phone" placeholder="Enter your mobile number" required />
                    <label class="form-label" for="form3Example3">Phone</label>
                    <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                      <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
                      <small class="text-danger" *ngIf="phone.errors.pattern">Phone Number must be 10 digits</small>
                    </div>
                  </div>
                  
                  
                  <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4" data-dismiss="modal" data-target="basic-success-example" 
                (click)="update(updateForm)">Submit
                </button>
              
                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
              
                  <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
              
                  <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
              
                  <button type="button" class="btn btn-secondary btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
                </form>
              </div>
            </div>
          </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="update(updateForm)">Submit</button>
      </div> -->
    </div>
  </div>
</div>

<!-- test toast -->
<!-- <div class="toast fade mx-auto toast-success toast-fixed hide" id="basic-success-example" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-autohide="true" data-mdb-delay="2000" data-mdb-position="top-right" data-mdb-append-to-body="true" data-mdb-stacking="true" data-mdb-width="350px" data-mdb-color="success" style="width: 350px; display: none; top: 10px; right: 10px; bottom: unset; left: unset; transform: unset;">
  <div class="toast-header toast-success">
    <strong class="me-auto">MDBootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="btn-close" data-mdb-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">Success Basic Example</div>
</div> -->

<!-- <button type="button" class="btn btn-success" id="basic-success-trigger" data-target="#basic-success-example">Success</button> -->

<!-- test -->
<!-- <button type="button" class="btn btn-primary ripple-surface" id="offset-trigger">
  Offset: 50
</button> -->

<!-- <div class="toast" id="placement-example-toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" data-position="...">
  <div class="toast-header">
    <strong class="mr-auto">MDBootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="toast-body">
    Toast position
  </div>
</div>

<script>
const instance =
mdb.Toast.getInstance(document.getElementById('position-example-toast'));
instance.update({ position: 'top-right', });

</script> -->








