@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

/* You can add global styles to this file, and also import other style files */
  /* .card-table {
    padding-left: 80px;
    padding-right: 80px;
  } */

   /*.card-add{
    padding-bottom: 8px;
    padding-right: 80px;
  }

table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212224;
  padding: 50px;
}
.table-bordered {
  border: 1px solid #e3e6f0;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #e3e6f0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
.empty-table{
  font-size: medium;
  text-align: center;
  color: crimson;
}