@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

/* You can add global styles to this file, and also import other style files */
  /* .card-table {
    padding-left: 80px;
    padding-right: 80px;
  } */

   /*.card-add{
    padding-bottom: 8px;
    padding-right: 80px;
  }

table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212224;
  padding: 50px;
}
.table-bordered {
  border: 1px solid #e3e6f0;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #e3e6f0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
.empty-table{
  font-size: medium;
  text-align: center;
  color: crimson;
}

.custom-alert-success{
  color: green;
}
.modal-dialog.modal-notify.modal-danger .modal-header {
  background-color: #ff3547;
}

.tcolor{
  background-color: #33b5e5
}


/* .form-switch .form-check-input {
  width: 2em;
  margin-left: -2.5em;
  background-position: left center;
  border-radius: 2em;
  transition: background-position .15s ease-in-out;
}
.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}
.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0,0,0,.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
} */
